.contacts{
  background-color: @second-color;
}

.contacts-title{
  font-size: 24px;
}

.contacts-text{
  font-size: 18px;
  font-weight: 700;
  color: @title-color;
}

.contacts-data{
  font-size: 24px;
  font-weight: 300;
  color: @@additory-color;
}
